/* project cards css */

.project-card-div{
    display: flex;
    flex-direction: column;
    border: solid rgba(0,0,0,0.45) 1px ;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.45);
    border-radius: 1rem;
    text-decoration: none;
    color: black;
    transition: transform 0.5s ease;
}
 
.project-card-div:hover{
    transform: translateY(-5px); 
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.45);
}
.project-text-container{
    /* border-top: solid rgba(0,0,0,0.25) 1px ; */
    padding: 0.2em 1em 2em 1em;      
    flex-grow: 1;
}

.project-card-title {
    font-size: 40px;
    line-height: 1.1;
    padding-top: 1em;
}

.project-card-desc {
    font-size: 20px;
    line-height: 30px;
    color: #666;
    padding-top: 0.7em;
    padding-bottom: 1em;
}

.project-card-img-div{
    position: relative;
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;

}
  
.project-card-img{
    border-radius: inherit;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    height:auto;
    transition: transform 0.3s ease;
    /* cropping and centering image PROPERLY */
    max-height: 250px;
    object-fit: cover; 
    object-position: center;

}

.project-card-div:hover .project-card-img {
    transform: scale(1.15); /* Zoom the image by 15% on hover */
}

.project-card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
    color: white;
}

.project-card-img-div:hover .project-card-img-overlay {
    opacity: 1; /* Show text overlay on hover */
}

.skills-div-main{
    display: flex;
    flex-wrap: wrap;
}

.skill{
    font-size: 15px;
    background-color: #EAEDF0; 
    font-weight: 600;
    padding: 1% 2%;
    margin: 1% 4% 1% 0%;
    border-radius: 0.5em;
}

/* Media Query */
@media (max-width: 1480px) {
    .project-card-title{
        font-size: 20px;
    }
    .project-card-desc{
        font-size: 14px;
        line-height: normal;
    }
    .skill{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .project-card-title{
        font-size: 15px;
        line-height: 1.8em;

    }
    .project-card-desc{
        font-size: 9px;
        line-height: normal;
        text-align: center;
    }
    .skill{
        font-size: 7px;
    }
}