.socials-div{
    display: flex;
}
  
.socials-logo{
    width:60px;
    padding-right: 20px;
    height:auto;
    cursor: pointer;
}


/* Media Query */
@media (max-width: 1480px) {
    .socials-logo{
      width:40px;
      padding-right: 10px;
    }
  }
  @media (max-width: 768px) {
    
    .socials-div{
      justify-content: center;
    }
    .socials-logo{
      width:25px;
      padding-right: 10px;
    }
  }