.education-img{
  margin-right: 2rem;
  width: auto;
  height: 4rem;
}

.institution{
    font-size: 40px;
    line-height: normal;
    padding-top: 0.8rem;
    font-weight: 700;
}

.degree{
    font-size: 31px;
    padding-top: 0.6rem;
    font-weight: 600;
    line-height: normal;

}

.duration{
    font-size: 31px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    line-height: normal;

}

.education-container:hover + .education-card-border {
    /* border-color: rgb(209, 141, 252); */
    border-color: rgb(244, 36, 36);
    width: 100%;
    -webkit-transition: width 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out;
    -o-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
  }
  
  .education-card-border {
    height: 30px;
    /* border-top: 2px solid rgb(228, 201, 245); */
    border-top: 2px solid rgb(250, 127, 127);
    margin-bottom: 20px;
    -webkit-transition: width 0.6s ease-in-out;
    -moz-transition: width 0.6s ease-in-out;
    -o-transition: width 0.6s ease-in-out;
    transition: width 0.6s ease-in-out;
  }

/* Media Query */
@media (max-width: 1380px) {
    .institution {
        font-size: 20px;
    }
    .degree{
        font-size: 16px;
    }
    .duration{
        font-size: 16px;
    }
    
  
}
@media (max-width: 768px) {
    .education-img{
        display: block;
        margin: 0 auto;
    }
    .institution {
        font-size: 15px;
        text-align: center;
    }
    .degree{
        font-size: 10px;
        text-align: center;

    }
    .duration{
        font-size: 10px;
        text-align: center;

    }
    .education-card-border{
        margin: 0 auto;
    }
}
