.navbar-container {
  display: flex;
  align-items: center;
  gap: clamp(1rem, 3vw, 2rem);
  width: 100%;
}
.logo-image {
  width: clamp(2rem, 5vw, 5rem);
  height: auto;
  border-radius: 50%;
}

.name {
  font-size: clamp(1rem, 3vw, 2.5rem);
}
.position{
  font-size: clamp(0.5rem, 1.5vw, 1.25rem);
}
