.section-main-div{
    width: 100%;
    padding: 20px 0px;
    margin-top: 2rem;
}

  
.section-title {
    font-size: 52px;
    font-weight: 400;
    line-height: normal;
}


/* Media Query */
@media (max-width: 1380px) {
    .section-title {
        font-size: 40px;
    }
  
}
@media (max-width: 768px) {
    .section-title {
        font-size: 30px;
        text-align: center;
    }
}
